* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.App {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  background-color: #13121205;
   /* // 121212 */
}

.infoBox__statImg {
  width: 40px;
  border-radius: 50%;
}


.app__left {
  flex: 0.9;
  border-radius: 10px !important;
  border-top: 0px;
  padding: 12px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 4px 9px 5px rgba(0,0,0,0.12);
}


.app__right {
  display: flex;
  flex-direction: column;
    border-radius: 10px !important;
    padding: 10px;
  }

  .app__right .MuiCardContent-root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .primary-color {
    text-align: center;
    color: #880e4f;
  }

  .line_graphTitle {
    margin-top: 20px;
    margin-bottom: 20px;
  }


.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__dropdown {
  background-color: white;
}



.app__graph {
  flex-grow: 1;
}


@media (max-width: 990px) {
  .App {
    flex-direction: column;
  }

  .app__right {
    margin-top: 10px;
  }
}